<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="/">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="mr-auto navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Articles
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/articles">Liste Articles</a>
					<a class="dropdown-item" href="#">Ajouter Article</a>
					<div class="dropdown-divider"></div>
				</div>
			</li>
		</ul>
		<form class="my-2 form-inline my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="my-2 btn btn-outline-success my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
